In [16]:
#import libraries needed
import pandas as pd
import numpy as np
print('Libraries imported')

Libraries imported

## Obtaining the data from the url and tranforming it into a dataframe

In [18]:
# Load table into a dataframe
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_Toronto = pd.read_html(url)[0]

# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df_Toronto.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [20]:
df_Toronto.head()

  PostalCode       Borough      Neighborhood
0   Postcode       Borough     Neighbourhood
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

## Ignore cells with a borough that is Not assigned.

In [21]:
#Ignore cells with a borough that is Not assigned.
df_Toronto = df_Toronto[df_Toronto.Borough != 'Not assigned']

In [23]:
df_Toronto.head()

  PostalCode           Borough      Neighborhood
0   Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park

## combine neighborhoods, separated with a comma, that have the same postal code

In [26]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
for index, row in df_Toronto.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
        
# Group the dataset by PostalCode and Borough.
df_Toronto= df_Toronto.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

# Show the cleansed dataframe
df_Toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## number of rows of the dataframe

In [28]:
df_Toronto.shape

(104, 3)